.cub-layout {
  background-color: var(--cub-page-bg-color);

  .cub-sidebar {
    width: var(--cub-sidebar-width);
    background-color: var(--el-menu-bg-color);
    transition: width .28s var(--cub-transition-timing-function);

    &--collapse {
      width: calc(var(--el-menu-icon-width) + var(--el-menu-base-level-padding) * 2);
    }
  }
  .cub-menu-wrap {
    width: calc(100% - 2px);
    background-color: var(--cub-sidebar-bg-color);
    box-shadow: 2px 0 8px var(--cub-sidebar-shadow-color);
  }
  .cub-menu {
    --el-menu-bg-color: var(--cub-sidebar-bg-color);
  }

  .cub-logo {
    height: var(--cub-logo-height);
    background-color: var(--cub-logo-bg-color);
    color: var(--cub-logo-text-color);
  }

  .cub-header {
    width: 100%;
    height: var(--cub-header-height);
    background-color: var(--cub-header-bg-color);
    color: var(--cub-header-text-color);
  }

  .cub-tags {
    height: calc(var(--cub-tagsView-height) - 2px);
    margin-bottom: 2px;
    background-color: var(--cub-tagsView-bg-color);
    color: var(--cub-tagsView-text-color);
    box-shadow: 0 2px 8px var(--cub-tagsView-shadow-color);
    
    &-warp {}
  
    &-view {
      &-item {
        background-color: var(--cub-tagsView-item-bg-color);
        color: var(--cub-tagsView-item-text-color);
  
        &.active {
          background-color: var(--cub-tagsView-item-active-bg-color);
          color: var(--cub-tagsView-item-active-text-color);
        }
      }
    }
  }

  .cub-main {}
}
