:root {
  // page
  --cub-page-bg-color: #f2f3f5;
  --cub-shadow-color: rgba(0,0,0,.08);

  // header
  --cub-header-height: 50px;
  --cub-header-bg-color: #24292f;
  --cub-header-text-color: white;

  // top menu
  --cub-topMenu-item-hover-bg-color: var(--el-color-primary);
  --cub-topMenu-item-hover-text-color: var(--cub-header-text-color);
  --cub-topMenu-item-active-bg-color: transparent;
  --cub-topMenu-item-active-text-color: var(--el-color-primary);

  // logo
  --cub-logo-height: var(--cub-header-height);
  --cub-logo-bg-color: var(--cub-header-bg-color);
  --cub-logo-text-color: var(--cub-header-text-color);

  // sidebar
  --cub-sidebar-width: 200px;
  --cub-sidebar-bg-color: white;

  // sideMenu
  --cub-sideMenuBefore-height: 50px;
  --cub-sideMenuAfter-height: 50px;

  // tagsView
  --cub-tagsView-height: 38px;
  --cub-tagsView-bg-color: white;

  --cub-tagsView-text-color: var(--el-text-color-primary);
  --cub-tagsView-item-bg-color: var(--el-color-info-light-8);
  --cub-tagsView-item-text-color: var(--cub-tagsView-text-color);
  --cub-tagsView-item-active-bg-color: var(--el-color-primary);
  --cub-tagsView-item-active-text-color: var(--el-color-white);

  // section
  --cub-section-bg-color: white;

  // 其他
  --cub-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  --cub-transition-duration: .28s;
  --cub-transition: var(--cub-transition-duration) var(--cub-transition-timing-function);
  --cub-transition-all: all var(--cub-transition-duration) var(--cub-transition-timing-function);
}

html.dark {
  // page
  --cub-page-bg-color: #010409;
  --cub-shadow-color: rgba(255,255,255,.2);

  // header
  --cub-header-bg-color: #010409;
  --cub-header-text-color: white;

  // sidebar
  --cub-sidebar-bg-color: #0D1117;

  // tagsView
  --cub-tagsView-bg-color: #161b22;

  // section
  --cub-section-bg-color: #161b22;
}
